@import "../../scss/variables.scss";

.header{
  display: flex;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  margin-top: 46px;
}

.logo {
  cursor:pointer;
}

.nav {
  margin-left: 52px;
}

.link{
  margin-right: 30px;
  text-decoration: none;
  color: $primary;
  &:last-child{
    margin-right: 0;
  }
}
